volumes:
  data:
  static:

services:
  backend:
    build: ./backend/
    env_file: .env
    volumes:
      - data:/data
      - static:/static
  gateway:
    build: ./gateway/
    ports:
      - 8000:80
    volumes:
      - static:/static