volumes:
  static:

services:
  backend:
    build: ./backend/
    env_file: .env
    volumes:
      - ./data:/app/data
      - static:/static
  gateway:
    build: ./gateway/
    ports:
      - 8000:80
      - 8001:443
    volumes:
      - static:/static
      - ./ssl:/ssl